<% content_for :principal_content do %>
	<h1 id="<%= @post.id %>">
	    <%= @post.name %>
	    <% if user_signed_in? %>
	      <%= link_to 'Edit', edit_post_path(@post), :class => "btn" %>
	      <%= link_to 'X', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary pull-right delete_post" %>
	    <% end %>
	</h1>
	<p>
	    </span> Posted on <%= @post.created_at %>
	</p>

	<p>
	  <%= @post.text %>
	</p>

	<hr>

	<!-- the comment box -->
	<div class="well">
	    <form accept-charset="UTF-8" action="/posts/<%=@post.id%>/comments" method="post" role="form">
			<input name="utf8" type="hidden" value="&#x2713;" />
			<%= csrf_meta_tags %>
			<input id="comment_post" type="hidden" name="comment[post]" type="text" value="<%=@post.id%>"/>
	        <h4>Name:</h4>
	        <div class="form-group">
	            <textarea id="comment_name" name="comment[name]" class="form-control" rows="1" autofocus="autofocus"></textarea>
	        </div>
	        <h4>Leave a Comment:</h4>
	        <div class="form-group">
	            <textarea id="comment_text" name="comment[text]" class="form-control" rows="3"></textarea>
	        </div>
	        <button id="create_comment" name="commit" type="submit" class="btn btn-primary">Create comment</button>
	    </form>
	</div>

	<hr>
	<!-- the comments -->
	<% if @post.comments.empty? %>
		<p>No comments</p>
	<% else %>
		<% @post.comments.each do |comment| %>
		    <h3> <%= comment.name %>
		        <small> <%= comment.created_at %></small>
		    </h3>
		    <p>
				<%= comment.text %>
			</p>
		<% end %>
	<% end %>
<% end %>